@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-calendar {
  @apply bg-white border border-gray-300 rounded-lg shadow-sm;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
}

.react-calendar__tile {
  @apply p-2 text-center text-sm;
}

.react-calendar__tile--active {
  @apply bg-primary text-white;
}

.react-calendar__tile--now {
  @apply bg-blue-100 font-semibold;
}

.react-calendar__tile.has-hours {
  @apply bg-green-100;
}

.react-calendar__tile.holiday {
  @apply bg-orange-200;
}

.react-calendar__tile.today {
  @apply border-2 border-primary;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
}

